.body {
    /* background-image: url("./images/simulator-2313002.jpg");
    background-position: center; */
    background-color: rgb(39, 78, 112);
}

main {
    display:grid;
    place-items: center;
    text-align: center;
    color: white;
}

.modal {
    margin-top: 0.3rem;
    display: inline-flexbox;
    background-color: rgba(41, 41, 41, 0.89);
    border-radius: 1rem;
    padding: 1rem;
    width: 95%;
}


.dashboard-upper {
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    padding: 1rem;
}

.dashboard-upper-ad {
    display: block;
    background-color: rgba(70, 177, 145, 0.801);
    border-radius: 0.5rem;
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2); 
    margin: 0 10px;
    width: 100%;
    text-align: center;
}

.dashboard-upper-ad:hover {
    background-color: rgba(88, 214, 176, 0.801);
    border-radius: 1rem;
}

.dashboard-upper-ad-inner {
    background-color: rgba(131, 140, 151, 0);
    text-align: center;
    padding: 0.5rem;
    width: 100%;

}

.dashboard-center {
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    margin-inline: auto;
    padding: 0.5rem;
    justify-content: center;
}

@media screen and (max-width: 1106px) {
    .dashboard-upper {
        display: inline-block;
        background-color: rgba(0, 255, 255, 0);
        padding: 1rem;
        width: 90%;
        text-align: center;
        margin-right: 1rem;
    }
    .dashboard-upper-ad {
        display: flex;
        background-color: rgba(91, 141, 197, 0.466);
        border-radius: 1rem;
        box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2); 
        margin-top: 0.3rem;
        text-align: center;
        max-height: 110px;
    }
}