.body {
    background-image: url("./images/simulator-2313002.jpg");
}

main {
    display:grid;
    place-items: center;
    text-align: center;
    color: white;
    margin-inline: auto;
}

.model {
    display: block;
    width: 90%;
    max-width: 480px;
    border-radius: 3rem;
    padding: 2rem;
    margin-top: 5rem;
    background-color: rgba(26, 26, 26, 0.753);
 
}

.model2 {
    display: none;
    width: 90%;
    max-width: 480px;
    border-radius: 3rem;
    padding: 2rem;
    margin-top: 5rem;
    background-color: rgba(26, 26, 26, 0.753);
 
}

.input-field {
    border-radius: 0.25rem;
    width: 90%;
    padding: 1rem 0.25rem;
    margin-bottom: 1rem;
    border-style: none;
    color: black;
    margin-top: 0.2rem;
}

.button {
    width: 92%;
    border-radius: 0.25rem;
    border-style: none;
    background-color: rgb(32, 102, 192);
    color: white;
    height: 40px;
    margin-bottom: 2rem;
}

.button:hover {
    width: 91%;
    border-radius: 0.5rem;
    background-color: rgb(8, 34, 68);
}