.dashboard-upper-ad-intable {
    display: flex;
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.445); 
    background-color: rgba(70, 177, 145, 0.801);
    overflow: auto;
    max-height: 40rem;
    width: fit-content;
    margin-inline: 5px;
    border-radius: 0.5rem;
}

.dashboard-upper-ad-intable:hover {
    background-color: rgba(60, 151, 124, 0.801);

}

tr:nth-child(even) {
    background-color: rgba(91, 141, 197, 0);
    border-radius: 1rem;
}
th {
    padding: 0.5rem;
}
td {
    padding: 0.4rem;

}

.tabled {
    display: block;
    margin: 0.8rem;
    max-height: 512px;
    background-color: rgba(19, 19, 19, 0);
    width: 100%;
    padding: 0.2rem;
}

.custombutton {
    padding: 1rem 0.5rem;
    background-color: rgba(91, 141, 197, 0.466);
    border-radius: 0.5rem;
    border-style: none;
    color: white;
}

.custombutton:hover {
    padding: 1rem 0.5rem;
    background-color: rgba(45, 111, 187, 0.685);
    border-radius: 1rem;
    border-style: none;
}
