ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

a:hover {
  color: rgb(158, 158, 158);
}

.menu {
  display: inline-flexbox;
  background-color: rgba(70, 177, 145, 0.801);
  text-align: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
}