.body {
    background-image: url("./images/simulator-2313002.jpg");
    background-position: center;
}

main {
    display:grid;
    place-items: center;
    text-align: center;
    color: white;
}

.modal {
    display: flex;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.89);
    margin-inline: auto;
    border-radius: 1rem;
}

.dashboard {
    display: inline-block;
    background-color: rgba(0, 255, 255, 0);
}

.dashboard-upper {
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    padding: 1rem;
}

.dashboard-upper-ad {
    display: flex;
    background-color: rgba(91, 141, 197, 0.466);
    border-radius: 0.2rem;
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2); 
    margin: 0 5px;
}

.dashboard-upper-ad-inner {
    background-color: rgba(131, 140, 151, 0);
    text-align: center;
    padding: 1rem;
}

.dashboard-center {
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    margin-inline: auto;
    padding: 0.5rem;
}

table {
    background-color: rgba(91, 141, 197, 0.466);
    border-radius: 1rem;
    padding: 2rem 1rem;
}
